# Ignore virtual environment
.venv/

# Ignore temporary uploads
/temp_uploads/

# Ignore packaged docker images
*.tar

# Environment variables
.env
.env.local
.env.*.local

# Ignore other unnecessary files
.vscode/
__pycache__/
*.pyc
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb